<div class="nav nav-tabs ">
    
        <ul class="nav nav-pills " style="float:right;margin-right:30px">
            <li role="presentation" routerLink="/home" routerLinkActive="active"><a >Home</a></li>
            <li role="presentation" routerLink="/profile" routerLinkActive="active"><a >Profile</a></li>
            <li role="presentation" routerLink="/car" routerLinkActive="active"><a >Car</a></li>
            <li role="presentation" routerLink="/carform" routerLinkActive="active"><a >New Car</a></li>        
            <li role="presentation" routerLink="/contacts" routerLinkActive="active"><a >Contacts</a></li>        
         </ul>
    
</div>